<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../styles/base.css">
  <title>Book App - Search Results</title>


</head>
<body>
<header>
  <div class="nav-bar">
    <h1>Best Books!</h1>
    <div id=hamburger>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>

    </div>
  </div>
  <div class="search-header">
    <h2>Search Results</h2>
  
  
  </div>

</header>

  <main>
    <section id="main-contain">
      <% books.forEach( value =>{ %>
        <div class="result-container">
          <div class= "book-contain">
            <img class="book-image" src="<%=value.img_url%>" alt="<%=value.title%>">
            <h3 id="book-title"><%=value.title%></h3>
            <h4 id="book-author"><%=value.authors%></h4>
            <p id="book-descrip"><%=value.description%></p>
          </div>
        </div>
      <% }) %>

    </section>

  </main>

</body>
</html>