<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>


</head>

<body>
  <header>

    <div class="nav-bar">
      <h1>Best Books!</h1>
      <div id=hamburger>
        <div class="ham-bar"></div>
        <div class="ham-bar"></div>
        <div class="ham-bar"></div>

      </div>
    </div>
    <div class="search-header">
      <a href="">
        <h2>Search the Google books API </h2>
      </a>



    </div>

  </header>

  <main>
    <section id="main-contain">

      <div class="result-container">
        <div class="book-contain">
          <img class="book-image" src="<%= book.img_url%>" alt="<%=book.title%>">
          <h3 id="book-title">
            <%=book.title%>
          </h3>
          <h4 id="book-author">
            <%=book.author%>
          </h4>
          <p id="book-isbn">
            <%=book.isbn%>
          </p>
          <p id="book-descrip">
            <%=book.description%>
          </p>


          <div id="two-but-contain">
            
            <form method="POST" action="/populate/<%=book.id %>">
             <button id=update-btn -btn>update details</button>
            </form>
            <form method="POST" action="/delete/<%=book.id %>?_method=DELETE">

              <button id=delete-btn >delete book</button>
             </form>
             


          </div>



        </div>
      </div>


    </section>

  </main>

</body>

</html>