<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <main>
    <div id= 'page-title'>
      <h2>Book Details</h2>
      
    </div>
    <!-- <div>
      <form method="POST" action="/books/<%=books.id %>?_method=put">
        <input type="text" name="title" value="<% books.title %>" />
        <input type="text" name="author" value="<%book.author %>" />
        <input type="text" name="isbn" value="<%= book.isbn %>" />
        <input type="text" name="img_url" value="<%= book.img_url %>" />
        <input type="text" name="description" value="<%=book.description %>" />

    </div> -->
  </main>
  
</body>
</html>
