<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>


</head>
<body>
<header>
  <div class="nav-bar">
    <h1>Best Books!</h1>
    <div id=hamburger>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>

    </div>
  </div>
  <div class="search-header">
    <h2>Search Results</h2>
  
  
  </div>

</header>

  <main>
    <section id="main-contain">
      <% books.forEach( value =>{ %>
        <div class="result-container">
          <div class= "book-contain">
            <img class="book-image" src="<%=value.img_url%>" alt="<%=value.title%>">
            <h3 id="book-title"><%=value.title%></h3>
            <h4 id="book-author"><%=value.author%></h4>
            <p id="book-descrip"><%=value.description%></p>

           <form action = "/books" method="post">
             <input type="hidden" name="author" value="<%= value.author%>">
             <input type="hidden" name="title" value="<%= value.title%>">
             <input type="hidden" name="isbn" value="<%= value.isbn%>">
             <input type="hidden" name="img_url" value="<%= value.img_url%>">
             <input type="hidden" name="description" value="<%= value.description%>">
             <button type="submit">add to Database</button>
             </form>
          </div>
        </div>
      <% }) %>

    </section>

  </main>

  <script src='/public/js/app.js' type='text/javascript'></script>
</body>
</html>