<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>


</head>
<body>
<header>
  <%- include('../../layout/header') %>

</header>

  <main>
    <section id="main-contain">
      <% book.forEach( value =>{ %>
        <div class="result-container">
          <div class= "book-contain">
            <img class="book-image" src="<%=value.img_url%>" alt="<%=value.title%>">
            <h3 id="book-title"><%=value.title%></h3>
            <h4 id="book-author"><%=value.author%></h4>
            <p id="book-descrip"><%=value.description%></p>

           <form action = "/books" method="post">
             <input type="hidden" name="author" value="<%= value.author%>">
             <input type="hidden" name="title" value="<%= value.title%>">
             <input type="hidden" name="isbn" value="<%= value.isbn%>">
             <input type="hidden" name="img_url" value="<%= value.img_url%>">
             <input type="hidden" name="description" value="<%= value.description%>">
             <button class="button-black" type="submit">add to Database</button>
             </form>
          </div>
        </div>
      <% }) %>

    </section>

  </main>

  <footer>
    <%- include('../../layout/footer') %>
  </footer>

  
</body>
</html>