<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>


</head>
<body>
<header>
  <div class="nav-bar">
    <h1>Best Books!</h1>
    <div id=hamburger>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>
      <div class="ham-bar"></div>

    </div>
  </div>
  <div class="search-header">
    <h1>Saved Books!</h1>
   <!-- <a href=""><h2>Search the Google books api</a>  -->
<a href="Search the Google books api"></a>

    <!-- <a href="/search">NEW SEARCH</a> -->

    <!-- <a href=""><h2>Search the Google books api</h2></a> -->
    <h3> Book on shelf <%= books.length %></h3>

  </div>

</header>

  <main>
    <section id="main-contain">
      <% books.forEach( value =>{ %>
        <div class="result-container">
          <div class= "book-contain">
            <img class="book-image" src="<%=value.img_url%>" alt="<%=value.title%>">
            <h3 id="book-title"><%=value.title%></h3>
            <h4 id="book-author"><%=value.author%></h4>
            <p id="book-descrip"><%=value.description%></p>
            <a href="/detail/<%= value.id %>">view detail</a>
           
            
          </div>
        </div>
      <% }) %>

    </section>

  </main>

</body>
</html>